<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-4">
                <div>
                    <a href="https://vrsketch.eu/">
                        <img src="img/logos/vr-sketch-logo.svg" alt="VR Sketch" width="280px">
                    </a>
                    <br>
                    <small>VR drawing tools for architects and designers</small>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://twitter.com/VrSketch" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCQhcsQ4QqbcT1_Hk7F2hKag" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/vr_sketch/" target="_blank"><i class="fab fa-instagram"></i>&nbsp;Instagram</a>
                        </li>
                        <li>
                            <a href="blog.html"><i class="fas fa-pencil-alt"></i>&nbsp;Blog</a>
                        </li>
                        <li>
                            <a href="https://forum.vrsketch.eu">Forum</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="docs-getting-started.html">Documentation</a>
                        </li>
                        <li>
                            <a href="faqs.html">FAQ's</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="https://drive.google.com/open?id=1uDbTl4JJtLobN8Lc-bz3OibkYomQlUPX">Media pack</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Actions</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:info@baroquesoftware.com">Email us</a>
                        </li>
                        <li>
                            <a href="#subscribe">Subscribe to newsletter</a>
                        </li>
                        <li>
                            <a href="https://extensions.sketchup.com/en/content/lightscape-vr-designer">Try now</a>
                        </li>

                        <li>
                            <a href="#">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-muted mt-5">
            Made with love by the
            <a href="https://baroquesoftware.com/" target="_blank">Baroque Software</a>
            team. © 2018 VR Sketch
        </p>
    </div>
</footer>