<footer class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md mb-4">
                <div>
                    <a href="https://vrsketch.eu/">
                        <img src="img/logos/vr-sketch-logo.svg" alt="VR Sketch" width="280px">
                    </a>
                    <br>
                    <small>VR drawing tools for architects and designers</small>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fab fa-twitter"></i>
                            <a href="https://twitter.com/VrSketch" target="_blank">Twitter</a>
                        </li>
                        <li>
                            <i class="fab fa-youtube"></i>
                            <a href="https://www.youtube.com/channel/UCQhcsQ4QqbcT1_Hk7F2hKag" target="_blank">YouTube</a>
                        </li>
                        <li>
                            <i class="fab fa-instagram"></i>
                            <a href="https://www.instagram.com/vr_sketch/" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <i class="fas fa-pencil-alt"></i>
                            <a href="blog.html">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="documentation.html">Documentation</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Media pack</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Actions</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:info@baroquesoftware.com">Email us</a>
                        </li>
                        <li>
                            <a href="#subscribe">Subscribe to newsletter</a>
                        </li>
                        <li>
                            <a href="/checkout/">Try now</a>
                        </li>

                        <li>
                            <a href="/checkout/">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-muted mt-5">
            Made with love by the
            <a href="https://baroquesoftware.com/" target="_blank">Baroque Software</a>
            team. © 2018 VR Sketch
        </p>
    </div>
</footer>