.banner{
    background: rgb(155,226,94);
    background: -moz-linear-gradient(40deg, rgba(155,226,94,1) 0%, rgba(92,168,120,1) 100%);
    background: -webkit-linear-gradient(40deg, rgba(155,226,94,1) 0%, rgba(92,168,120,1) 100%);
    background: linear-gradient(40deg, rgba(155,226,94,1) 0%, rgba(92,168,120,1) 100%);
}