@import "bootstrap-scss/functions";
@import "bootstrap-scss/mixins";

// ---------------------------------- Options ---------------------------------- //
$enable-shadows:            true;

// ---------------------------------- Colours ---------------------------------- //

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #edeff0;
$gray-300: #e0e6de;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$logo-light:  #9ae15f;
$logo-dark:   #5aa679;

$green:             rgb(81, 190, 81);
$green-light:       rgba(81, 190, 81, 0.2);
$green-dark:        #34814b;
$blue:              rgb(113, 222, 255);
$red:               rgb(255, 51, 0);
$orange:            rgb(255, 136, 0);
$teal:              rgb(12, 221, 169);


$colors: ();
$colors: map-merge(
  (
    "logo-light":           $logo-light,
    "logo-dark":            $logo-dark,
    "green":                $green,
    "green-light":          $green-light,
    "blue":                 $blue,
    "red":                  $red,
    "orange":               $orange,
    "teal":                 $teal,
    "white":                $white,
    "gray-light":           $gray-100,
    "gray":                 $gray-600,
    "gray-dark":            $gray-800
  ),
  $colors
);

$primary:       $green;
$secondary:     $gray-600;
$success:       $green;
$info:          $teal;
$warning:       $orange;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "logo-light": $logo-light,
    "logo-dark":  $logo-dark
  ),
  $theme-colors
);

// ---------------------------------- Spacing ---------------------------------- //

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 5)
  ),
  $spacers
);

// ---------------------------------- Text ---------------------------------- //
$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 3 ;
$h2-font-size:                $font-size-base * 2.75;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.75;
$headings-margin-bottom:      $spacer*2;

$code-color: #208046;

// ---------------------------------- Imports ---------------------------------- //
@import "bootstrap-scss/bootstrap.scss";
@import "index.scss";
@import "cloud.scss";
@import "blog.scss";
@import "docs.scss";
@import "faqs.scss";
@import "youtube.scss";
@import "banner.scss";


// ---------------------------------- Custom styles ---------------------------------- //

main{
  min-height: 70vh; // Keep footer close to bottom even when there is very little content
}

.btn-outline-primary {
  background-color: $green-light;
}

.btn{
  padding-top: .3rem;
}

main{
  margin-top: 3.5rem;
}

.navbar-toggler{
  color: $primary;
}

.fa-quote-right, .fa-quote-left{
  color: $gray-400;
  font-size: 60%;
  vertical-align: top;
}

code{
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: $gray-200;
}

// modal styling //

.modal-body {
  padding: 32px 64px 64px 64px;
}

/* toggle buttons */

.toggle-button-group {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the group takes up the full width */
  justify-content: space-between; /* Adjust this as needed */
}

.toggle-button {
  flex-grow: 1;
  height: 54px;
  background-color: $gray-200;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: $gray-900;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  flex-grow: 1;
  border: none;
  background-color: $green-dark;
  color: white; /* White text for the active button */
}

.toggle-button:not(.active):hover {
  background-color: $gray-300;
}

.toggle-button:not(:last-child) {
  border-right: none; /* Prevent double borders between buttons */
}

.toggle-button:focus {
  outline: none; /* Removes the outline to keep the design clean */
}

/* left toggle button */
.toggle-button:first-child {
  border-radius: 4px 0 0 4px;
}

/* right toggle button */
.toggle-button:last-child {
  border-radius: 0 4px 4px 0;
}

/* login with google button */

.login-with-google-btn {
  background-color: white;
  color: $gray-900;
  border: 1px solid $gray-400;
  border-radius: 4px;
  height: 54px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.login-with-google-btn:hover {
  background-color: $gray-100;
  color: black;
}

/* google logo */

.google-logo {
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

/* 'or' divider */

.login-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: $gray-500;
  margin: 0 0 24px 0;
}

.login-divider::before {
  content: "";
  flex-grow: 1;
  background: $gray-300;
  height: 1px;
  margin: 0 24px 0 0; /* Adjust spacing around the 'or' text as needed */
}

.login-divider::after {
  content: "";
  flex-grow: 1;
  background: $gray-300;
  height: 1px;
  margin: 0 0 0 24px; /* Adjust spacing around the 'or' text as needed */
}

/* input fields styling */

.custom-input {
  background-color: white;
  border: 1px solid gray-400;
  border-radius: 4px;
  height: 56px;
  margin-bottom: 24px;
}

.custom-label {
  color: $gray-700;
  font-weight: 500;
}

.input-group-text {
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-danger {
  margin-top: 8px;
}

/* continue button */

.custom-continue-btn {
  background-color: $green;
  color: white;
  border-radius: 4px;
  height: 56px;
  margin-bottom: 32px;
  margin-top: 48px;
}

/* don't have an account text */

#signup-prompt {
  color: $code-color;
  font-weight: 400;
  cursor: pointer;
}

.switch-link {
  color: $green-dark;
  font-weight: 500;
  cursor: pointer;
}

// ---------------------------------- footer ---------------------------------- //

footer{
  a, i{
    color: $gray-600;
  }

  h5{
    margin-bottom: 0;
    color: $gray-400;
  }
}

// make links with a '#name' target scroll the page so that the target
// is actually visible below the fixed header
html {
  scroll-padding-top: 64px; /* height of sticky header, slight overestimate */
}

