{#

Template inputs
1. title

Template blocks
1. custom_style_imports
2. nav_menu_items
4. js_imports
4. main_content

#}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Content description -->
    <title>{{title}}</title>
    <meta name="description" content="Virtual Reality drawing tools for architects and designers. A SketchUp extension allowing anyone to use SketchUp from inside virtual reality">
    <meta name="keywords" content="vr sketch, vr, virtual reality, draw, edit, draft, sketch, sketchup, architect, architecture, vive, oculus rift, design">
    <meta name="author" content="VR Sketch">

    <!-- Template imports -->
    <link rel="shortcut icon" href="img/logos/favicon.ico" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom imports -->
    {% block custom_style_imports %}{% endblock custom_style_imports %}

</head>

<body>
    <div id="loading-indicator" style="display:none;position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:9999;justify-content:center;align-items:center;background-color:#ffffff;">
        <p style="color:#343a40;font-size:1.2em;">Loading...</p>
    </div>
    <script type="text/javascript">
        (function () {
            document.getElementById('loading-indicator').style.display = 'flex';
        })();
    </script>
    <header>
        <div class="fixed-top bg-white">
            <nav class="container">
                <div class="navbar navbar-expand-md navbar-light px-0">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/logos/vr-sketch-logo.svg" height="28" alt="VR Sketch logo">
                    </a>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="navbar-nav ml-auto">
                            {% block nav_menu_items %}{% endblock nav_menu_items %}
                        </ul>
                        <span class="dropdown">
                            <button class="btn btn-outline-primary" id="main-login-button">Loading <i class="fa fa-spin fa-spinner"></i></button>
                            <ul id="login-dropdown" class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item" onclick="showLicenseModal()">User details</a></li>
                                <li><a href="/cloud.html" class="dropdown-item">My cloud</a></li>
                                <li><a href="#" class="dropdown-item" onclick="vueAppApi.logout(true)">Log out</a></li>
                            </ul>
                        </span>

                    </div>

                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </header>

    <main role="main">
        {% block main_content %}{% endblock main_content %}
        <div id="login-type-modal" class="modal" tabindex=-1 role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Choose your login type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-secondary p-3" id="google-login-button"><img src="img/logos/google.png"/></button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-secondary p-3"
                                        onclick="$('#login-rest').show(); $('#google-login-spinner').hide();">
                                        <div style="padding-top: 10px; padding-bottom: 10px; padding-right: -3px">
                                            Sign in with <img width="100px" src="img/logos/vr-sketch-logo.png"/>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form method="POST">
                            <div class="container" id="login-rest" style="display:none;">
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="w-100"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container">
                                        <div class="row mt-2">
                                            <div class="col-6">Email:</div>
                                            <div class="col-6"><input onfocus="clear_error()" autocomplete="username email" name="username" id="login-email" type="text"></div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6">Password:</div>
                                            <div class="col-6"><input onfocus="clear_error()" autocomplete="current-password" name="current-password" id="login-password" type="password"></div>
                                        </div>
                                        <div id="fullname-container" class="row mt-2" stype="display: none">
                                            <div class="col-6">Full name:</div>
                                            <div class="col-6"><input onfocus="clear_error()" autocomplete="name" name="name" id="fullname" type="text"></div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6"><button type="button" onclick="create_vrsketch_account(); return false;" class="btn btn-secondary">Create an account</button></div>
                                            <div class="col-6"><button type="submit" class="btn btn-primary" onclick="login_email_password(); return false;">Log in</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="w-100">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span class="text-danger" id="error-bar"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="container" id="google-login-spinner" style="display:none">
                            Loading... <i class="fa fa-spin fa-spinner"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                    
                    </div>
                </div>
            </div>
        </div>

        <div id="error" style="display:none;position:fixed;bottom:60px;left:0;width:100%;z-index:2000">
            <div id="error-msg" class="alert alert alert-danger text-center m-3" role="alert">
                There was an error <button type="button" class="close" onclick="hide_error()">&times;</button>
            </div>
        </div>

        <div id="message-container" style="display:none;position:fixed;top:50px;left:0;width:100%;z-index:2000">
            <div id="message-contents" class="alert alert-success text-center m-3" role="alert">
                <span id="message-inner">This is a message of success</span><button style="padding-left:10px;padding-right: 10px;" type="button" class="close" onclick="hide_message_container()">&times;</button>
            </div>
        </div>

    </main>

    {% include 'partials/footer.html' %}

    <!-- JS imports -->
    <noscript style="position:fixed;bottom:20px;width:100%;;padding:10px;;background-color:rgb(255, 146, 112);text-align:center;z-index:150;">Your browser either does not support JavaScript or it not active. Please activate JavaScript.</noscript>
    {#
    <!-- Bootstrap imports. Order matters: 1. jQuery 2. Popper.js 3. Bootstrap JS -->
    #}
    <script src="js/libraries/jquery-3.1.1.min.js"></script>
    <script src="js/libraries/popper.min.js"></script>
    <script src="js/libraries/moment.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/libraries/autobahn.min.js"></script>
    <script src="https://browser.sentry-cdn.com/4.1.1/bundle.min.js"></script>
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="{{ chargebee_site }}"></script>
    <script src="js/libraries/vue.min.js"></script>
    <script src="https://accounts.google.com/gsi/client"></script>
    <script src="js/global.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loading-indicator').fadeOut();
        });
    </script>
    {% block js_imports %}{% endblock js_imports %}
</body>

</html>