{#

Template inputs
1. title

Template blocks
1. custom_style_imports
2. nav_menu_items
4. js_imports
4. main_content

#}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Content description -->
    <title>{{title}}</title>
    <meta name="description" content="Virtual Reality drawing tools for architects and designers. A SketchUp extension allowing anyone to use SketchUp from inside virtual reality">
    <meta name="keywords" content="vr sketch, vr, virtual reality, draw, edit, draft, sketch, sketchup, architect, architecture, vive, oculus rift, design">
    <meta name="author" content="VR Sketch">

    <!-- Template imports -->
    <link rel="shortcut icon" href="img/logos/favicon.ico" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom imports -->
    {% block custom_style_imports %}{% endblock custom_style_imports %}

</head>

<body>
    <div id="loading-indicator" style="display:none;position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:9999;justify-content:center;align-items:center;background-color:#ffffff;">
        <p style="color:#343a40;font-size:1.2em;">Loading...</p>
    </div>
    <script type="text/javascript">
        (function () {
            document.getElementById('loading-indicator').style.display = 'flex';
        })();
    </script>
    <header>
        <div class="fixed-top bg-white">
            <nav class="container">
                <div class="navbar navbar-expand-md navbar-light px-0">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/logos/vr-sketch-logo.svg" height="28" alt="VR Sketch logo">
                    </a>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="navbar-nav ml-auto">
                            {% block nav_menu_items %}{% endblock nav_menu_items %}
                        </ul>
                        <span class="dropdown">
                            <button class="btn btn-outline-primary" id="main-login-button">Loading <i class="fa fa-spin fa-spinner"></i></button>
                            <ul id="login-dropdown" class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item" onclick="showLicenseModal()">User details</a></li>
                                <li><a href="/cloud.html" class="dropdown-item">My cloud</a></li>
                                <li><a href="#" class="dropdown-item" onclick="vueAppApi.logout(true)">Log out</a></li>
                            </ul>
                        </span>

                    </div>

                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </header>

    <main role="main">
        {% block main_content %}{% endblock main_content %}
        <div id="login-type-modal" class="modal" tabindex=-1 role="dialog">
            <div class="modal-dialog" style="max-width: 576px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container h-100" style="padding: 0;">
                            <!-- VR Sketch logo -->
                            <img src="img/logos/vr-sketch-logo.svg" alt="Logo" style="width: 250px; margin-top: 16px; margin-bottom: 40px;" class="mx-auto d-block">
                            <!-- Button Group -->
                            <div class="toggle-button-group">
                                <button class="toggle-button active" id="loginButton">Login</button>
                                <button class="toggle-button" id="registerButton">Register</button>
                            </div>
                        </div>
                        <!-- Login Form -->
                        <div id="loginForm">
                            <!-- Login with Google Button -->
                            <button class="login-with-google-btn">
                                <img src="img/logos/google-logo.svg" alt="Google logo" class="google-logo">
                                Continue with Google
                            </button>
                            <!-- Divider -->
                            <div class="login-divider">
                                <span>or</span>
                            </div>
                            <!-- Email Input Field -->
                            <div class="form-group">
                                <label for="new-email" class="custom-label">Email</label>
                                <div style="position: relative; margin-bottom: 24px;">
                                    <input type="email" class="form-control custom-input" id="new-email" name="new-email">
                                    <div id="emailError" class="text-danger" style="display: none; position: absolute; bottom: -32px; left: 0; margin-top: 0px;">Please enter a valid email address.</div>
                                </div>
                            </div>
                            <!-- Password Field (Initially Hidden) -->
                            <div id="passwordField" class="form-group custom-input" style="display: none; margin-bottom: 72px;">
                                <div class="d-flex">
                                    <label for="password">Password</label>
                                    <a href="#" class="text-success">Forgot password?</a>
                                </div>         
                                <div class="input-group mt-2">
                                    <input type="password" class="form-control custom-input" id="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-eye" id="togglePassword"></i>
                                        </span>
                                    </div>  
                                </div>
                            </div>
                            <!-- Continue Button -->
                            <div class="form-group" id="continueButton">
                                <button type="button" class="btn btn-primary btn-block custom-continue-btn">Continue</button>
                            </div>
                            <!-- Text switch to register -->
                                <p style="font-weight: 500; margin: 0;" class="register-link">Don't have an account? <span id="registerPrompt" class="switch-link">Register</span></p>
                        </div>
                             
                        <!-- Register Form (initially hidden) -->
                        <div id="registerForm" style="display:none;">
                            <!-- Create an account with Google Button -->
                            <button class="login-with-google-btn">
                                <img src="img/logos/google-logo.svg" alt="Google logo" class="google-logo">
                                Create an account with Google
                            </button>
                            <!-- Divider -->
                            <div class="login-divider">
                                <span>or</span>
                            </div>
                            <!-- Email Input Field -->
                            <div class="form-group">
                                <label for="register-email" class="custom-label" name="register_email">Email</label>
                                <input type="email" class="form-control custom-input" id="register-email" name="new-email">
                                <div id="register-email-error" class="text-danger" style="display: none; margin-top: 0px;">Please enter a valid email address.</div>
                            </div>
                            <!-- Password Field (Initially Hidden) -->
                            <div id="register-password-container" class="form-group custom-input" style="display: none; margin-bottom: 64px">
                                <label for="register-password">Password</label>      
                                <div class="input-group mt-2">
                                    <input type="password" class="form-control custom-input" id="register-password" name="register_password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-eye" id="register-toggle-password"></i>
                                        </span>
                                    </div>  
                                </div>
                            </div>
                            <!-- Full Name Field (Initially Hidden) -->
                            <div id="register-fullname-container" class="form-group custom-input" style="display: none; margin-bottom: 72px;">
                                <label for="register-fullname">Full name</label>
                                <input type="text" class="form-control custom-input" id="register-fullname" name="register_fullname">
                              </div>
                            <!-- Create an account Button -->
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block custom-continue-btn" id="register-continue-btn">Continue</button>
                            </div>
                            <!-- Text switch to login -->
                                <p style="font-weight: 500; margin: 0;">Already have an account? <span id="loginPrompt" class="switch-link">Log in</span></p>
                        </div>   

                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-secondary p-3" id="google-login-button"><img src="img/logos/google.png"/></button>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                Don't have an account? <a href="#" id="signup-prompt">Sign up <img src="img/icons/icon/16x16/arrow-right"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-secondary p-3"
                                        onclick="$('#login-rest').show(); $('#google-login-spinner').hide();">
                                        <div style="padding-top: 10px; padding-bottom: 10px; padding-right: -3px">
                                            Sign in with <img width="100px" src="img/logos/vr-sketch-logo.png"/>
                                        </div>
                                    </button>
                                </div>
                            </div>
                    
                        <form method="POST">
                            <div class="container" id="login-rest" style="display:none;">
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="w-100"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container">
                                        <div class="row mt-2">
                                            <div class="col-6">Email:</div>
                                            <div class="col-6"><input onfocus="clear_error()" autocomplete="username email" name="username" id="login-email" type="text"></div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6">Password:</div>
                                            <div class="col-6"><input onfocus="clear_error()" autocomplete="current-password" name="current-password" id="login-password" type="password"></div>
                                        </div>
                                        <div id="fullname-container" class="row mt-2" stype="display: none">
                                            <div class="col-6">Full name:</div>
                                            <div class="col-6"><input onfocus="clear_error()" autocomplete="name" name="name" id="fullname" type="text"></div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6"><button type="button" onclick="create_vrsketch_account(); return false;" class="btn btn-secondary">Create an account</button></div>
                                            <div class="col-6"><button type="submit" class="btn btn-primary" onclick="login_email_password(); return false;">Log in</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="w-100">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span class="text-danger" id="error-bar" style="margin-top: 8px;"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="container" id="google-login-spinner" style="display:none">
                            Loading... <i class="fa fa-spin fa-spinner"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="error" style="display:none;position:fixed;bottom:60px;left:0;width:100%;z-index:2000">
            <div id="error-msg" class="alert alert alert-danger text-center m-3" role="alert">
                There was an error <button type="button" class="close" onclick="hide_error()">&times;</button>
            </div>
        </div>

        <div id="message-container" style="display:none;position:fixed;top:50px;left:0;width:100%;z-index:2000">
            <div id="message-contents" class="alert alert-success text-center m-3" role="alert">
                <span id="message-inner">This is a message of success</span><button style="padding-left:10px;padding-right: 10px;" type="button" class="close" onclick="hide_message_container()">&times;</button>
            </div>
        </div>

    </main>

    {% include 'partials/footer.html' %}

    <!-- JS imports -->
    <noscript style="position:fixed;bottom:20px;width:100%;;padding:10px;;background-color:rgb(255, 146, 112);text-align:center;z-index:150;">Your browser either does not support JavaScript or it not active. Please activate JavaScript.</noscript>
    {#
    <!-- Bootstrap imports. Order matters: 1. jQuery 2. Popper.js 3. Bootstrap JS -->
    #}
    <script src="js/libraries/jquery-3.1.1.min.js"></script>
    <script src="js/libraries/popper.min.js"></script>
    <script src="js/libraries/moment.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/libraries/autobahn.min.js"></script>
    <script src="https://browser.sentry-cdn.com/4.1.1/bundle.min.js"></script>
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="{{ chargebee_site }}"></script>
    <script src="js/libraries/vue.min.js"></script>
    <script src="https://accounts.google.com/gsi/client"></script>
    <script src="js/global.js"></script>

    {% block js_imports %}{% endblock js_imports %}
     

    <script>
    function setupForms() {
    const loginForm = $('#loginForm');
    const registerForm = $('#registerForm');
    const loginButton = $('#loginButton');
    const registerButton = $('#registerButton');
    const loginPrompt = $('#loginPrompt');
    const registerPrompt = $('#registerPrompt');
    const togglePasswordLogin = $('#togglePassword');
    const togglePasswordRegister = $('#register-toggle-password');
    const loginInputs = loginForm.find('input');
    const registerInputs = registerForm.find('input');

    // Toggle forms
    loginButton.click(() => toggleForm('login'));
    registerButton.click(() => toggleForm('register'));
    loginPrompt.click(() => toggleForm('login'));
    registerPrompt.click(() => toggleForm('register'));

    // Validate forms
    $('#continueButton').click(validateLoginForm);
    $('#register-continue-btn').click(validateRegisterForm);

    // Toggle password visibility
    togglePasswordLogin.click(() => togglePasswordVisibility('#password', togglePasswordLogin));
    togglePasswordRegister.click(() => togglePasswordVisibility('#register-password', togglePasswordRegister));

    // Activation of buttons on enter
    loginInputs.keypress(event => {
        if (event.key === 'Enter') {
            event.preventDefault();
            validateLoginForm();
        }
    });
    registerInputs.keypress(event => {
        if (event.key === 'Enter') {
            event.preventDefault();
            validateRegisterForm();
        }
    });

    function toggleForm(formType) {
        if (formType === 'login') {
            loginForm.show();
            registerForm.hide();
            loginButton.addClass('active');
            registerButton.removeClass('active');
            resetForm(registerForm);
        } else if (formType === 'register') {
            loginForm.hide();
            registerForm.show();
            loginButton.removeClass('active');
            registerButton.addClass('active');
            resetForm(loginForm);
        }
    }

    function validateLoginForm() {
        const emailInputLogin = $('#new-email');
        const emailErrorLogin = $('#emailError');
        const passwordFieldLogin = $('#passwordField');

        emailErrorLogin.css('display', emailInputLogin.val().includes('@') ? 'none' : 'block');
        passwordFieldLogin.css('display', emailInputLogin.val().includes('@') ? 'block' : 'none');
    }

    function validateRegisterForm() {
        const emailInputRegister = $('#register-email');
        const emailErrorRegister = $('#register-email-error');
        const passwordContainerRegister = $('#register-password-container');
        const fullnameContainerRegister = $('#register-fullname-container');

        emailErrorRegister.css('display', emailInputRegister.val().includes('@') ? 'none' : 'block');
        if (emailInputRegister.val().includes('@')) {
            passwordContainerRegister.show();
            fullnameContainerRegister.show();
            $('#register-continue-btn').text('Create an account');
        }
    }

    function resetForm(form) {
        form.find('input').val('');
        form.find('.text-danger').css('display', 'none');
        if (form.is(loginForm)) {
            $('#passwordField').hide();
        } else if (form.is(registerForm)) {
            $('#register-password-container').hide();
            $('#register-fullname-container').hide();
            $('#register-continue-btn').text('Continue');
        }
    }

    function togglePasswordVisibility(passwordFieldId, toggleIcon) {
        const passwordInput = $(passwordFieldId);
        const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
        passwordInput.attr('type', type);
        toggleIcon.toggleClass('fa-eye fa-eye-slash');
    }
}
    </script>

    <!--
    <script>
        $(document).ready(function () {
            $('#loading-indicator').fadeOut();
            setupForms();
        });
    

        function setupForms() {
            const loginForm = document.getElementById('loginForm');
            const registerForm = document.getElementById('registerForm');
            const loginButton = document.getElementById('loginButton');
            const registerButton = document.getElementById('registerButton');
            const loginPrompt = document.getElementById('loginPrompt');
            const registerPrompt = document.getElementById('registerPrompt');
            const togglePasswordLogin = document.getElementById('togglePassword');
            const togglePasswordRegister = document.getElementById('register-toggle-password');
            const loginInputs = loginForm.querySelectorAll('input');
            const registerInputs = registerForm.querySelectorAll('input');
    
            // Toggle forms
            loginButton.addEventListener('click', function() { toggleForm('login'); });
            registerButton.addEventListener('click', function() { toggleForm('register'); });
            loginPrompt.addEventListener('click', function() { toggleForm('login'); });
            registerPrompt.addEventListener('click', function() { toggleForm('register'); });
    
            // Validate forms
            document.getElementById('continueButton').onclick = function() { validateLoginForm(); };
            document.getElementById('register-continue-btn').onclick = function() { validateRegisterForm(); };
    
            // Toggle password visibility
            togglePasswordLogin.addEventListener('click', function () { togglePasswordVisibility('password', togglePasswordLogin); });
            togglePasswordRegister.addEventListener('click', function () { togglePasswordVisibility('register-password', togglePasswordRegister); });

            //Activation of buttons on enter
            loginInputs.forEach(input => input.addEventListener('keypress', event => event.key === 'Enter' && (event.preventDefault(), validateLoginForm())));
            registerInputs.forEach(input => input.addEventListener('keypress', event => event.key === 'Enter' && (event.preventDefault(), validateRegisterForm())));

            function toggleForm(formType) {
                if(formType === 'login') {
                    loginForm.style.display = 'block';
                    registerForm.style.display = 'none';
                    loginButton.classList.add('active');
                    registerButton.classList.remove('active');
                    resetForm(registerForm);
                } else if(formType === 'register') {
                    loginForm.style.display = 'none';
                    registerForm.style.display = 'block';
                    loginButton.classList.remove('active');
                    registerButton.classList.add('active');
                    resetForm(loginForm);
                }
            }
    
            function validateLoginForm() {
                const emailInputLogin = document.getElementById('new-email');
                const emailErrorLogin = document.getElementById('emailError');
                const passwordFieldLogin = document.getElementById('passwordField');
    
                emailErrorLogin.style.display = emailInputLogin.value.includes('@') ? 'none' : 'block';
                passwordFieldLogin.style.display = emailInputLogin.value.includes('@') ? 'block' : 'none';
            }
    
            function validateRegisterForm() {
                const emailInputRegister = document.getElementById('register-email');
                const emailErrorRegister = document.getElementById('register-email-error');
                const passwordContainerRegister = document.getElementById('register-password-container');
                const fullnameContainerRegister = document.getElementById('register-fullname-container');
    
                emailErrorRegister.style.display = emailInputRegister.value.includes('@') ? 'none' : 'block';
                if(emailInputRegister.value.includes('@')) {
                    passwordContainerRegister.style.display = 'block';
                    fullnameContainerRegister.style.display = 'block';
                    document.getElementById('register-continue-btn').textContent = 'Create an account';
                }
            }
    
            function resetForm(form) {
                form.querySelectorAll('input').forEach(input => input.value = '');
                form.querySelectorAll('.text-danger').forEach(error => error.style.display = 'none');
                if(form === loginForm) {
                    document.getElementById('passwordField').style.display = 'none';
                } else if(form === registerForm) {
                    document.getElementById('register-password-container').style.display = 'none';
                    document.getElementById('register-fullname-container').style.display = 'none';
                    document.getElementById('register-continue-btn').textContent = 'Continue';
                }
            }
    
            function togglePasswordVisibility(passwordFieldId, toggleIcon) {
                const passwordInput = document.getElementById(passwordFieldId);
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                toggleIcon.classList.toggle('fa-eye');
                toggleIcon.classList.toggle('fa-eye-slash');
            }
        }
    </script>
    -->
    
</body>

</html>