<div id="manage-subscriptions-container">
    <button onclick="manage_subscriptions()" class="btn-prime">Manage subscriptions, invoices and payment details</button>
</div>
Found valid {{ subscriptions[0].license_type }} subscription:
<ul>
{% for sub in subscriptions %}
    {% if sub.quantity != 1 %}
    <li>
        You are allowed to use this license for at most {{ sub.quantity }} different computers at any given time
    </li>
    {% endif %}
    <li>Next charge at {{ sub.ends_at }}, {{ sub.deleted }} License key to copy-paste:
        <span class="subscription_id">{{ sub.license_id }}</span>
    </li>
{% endfor %}
</ul>
