article{
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(201, 201, 201);
    margin-bottom: 120px;
}

.post-title {
    color: rgb(64,158,119);
    font-size: 2em;
}
.post-info{
    color: rgb(158, 158, 158);
    font-size: 0.8em;
    padding-bottom: 30px;
}

p{
    padding-bottom: 15px;
    color: rgb(77, 77, 77);
}
.question {
    color: rgb(77, 77, 77);
    font-weight: 900;
    padding-top: 30px;
}

.img{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
}

.img-fixed{
    width: auto;
    max-width: 100%;
}

.img-portrait{
    width: auto;
    max-width: 300px;
    display: block;
}