  /* -------------------- JS Side menu -------------------- */
  .show{
    display: block;
    
    padding-bottom: 40px;
  }
  .hide{
    display: none;
  }

  #side-menu-container{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    
  }

  #side-menu{
    float: right;
  }

  #side-menu h1, #side-menu h2, #side-menu h3, #side-menu h4, #side-menu h5, #side-menu h6{
    font-size: 1em;
    font-weight: normal;    
  }
  #side-menu a{
    display: block;
    border-left: 2px solid rgba(255, 255, 255, 0);
    color: rgb(143, 143, 143);
    margin: 0.5em 0px;
    padding-right: 60px;
    
  }
  #side-menu a:hover{
    border-left: 2px solid rgb(129, 211, 61);
    color: rgb(64, 158, 119);
  }

  #side-menu h1{
    padding-left: 20px;
    color: rgb(121, 121, 121);
  }
  #side-menu h2{
    padding-left: 25px;
  }
  #side-menu h3{
    padding-left: 30px;
  }
  #side-menu h4{
    padding-left: 35px;
  }
  #side-menu h5{
    padding-left: 40px;
  }
  #side-menu h6{
    padding-left: 45px;
  }

  /* -------------------- Markdown section -------------------- */

  #md-target{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #doc-h1 {
    color: rgb(121, 121, 121);
    font-size: 3em;
  }

  /* -------------------- Markdown Elements -------------------- */
main h1{
  color: rgb(50, 50, 50);
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(230, 230, 230);
}

main h2, main h3, main h4, main h5, main h6{
  color: rgb(50, 50, 50);
  margin-bottom: 15px;
}

main p{
  color: rgb(50, 50, 50);
  margin-bottom: 15px;
}

main ul{
  list-style-type: disc;
  margin-left:2ch;
  margin-bottom: 15px;
}

main ol{
  margin-left:2ch;
  margin-bottom: 15px;
}

main li{
  margin-bottom: 5px;
}

main img, main video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;    
}