
/* --------------------General -------------------- */
h1 {
    margin-bottom: 30px;
}
section{
    margin-bottom: 15px;
}

main {
    padding-bottom: 120px;
}

/* -------------------- Collapsibles/Accordion -------------------- */
.accordion {
    color: rgb(87, 87, 87);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 15px;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    transition: 0.4s;
}
.accordion:hover {
    background-color: rgb(181, 235, 160);
}
.accordion-active{
    background-color: transparent;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion-active:after {
    content: "\2212";
}

.accordion-panel {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-panel p{
    padding-top: 15px;
}

.accordion-panel ul{
    list-style: disc;
}
.accordion-panel li{
    margin-left: 3ch;
    padding-top: 5px;
}
