{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
<li class="nav-item">
    <a class="nav-link" href="docs-getting-started.html">Documentation</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="faqs.html">FAQs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="tutorials.html">Tutorials</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="blog.html">Blog</a>
</li>
{% endblock nav_menu_items %}

{% block main_content %}
{% raw %}
<div class="container">
    <h1>VR Sketch Cloud</h1>
    <div id="cloud-app">
        <h2>Active file</h2>
        <div>Connection status</div>
        <active-file v-bind:file="active_file" v-bind:file="active_file" />
        <h2>Your files</h2>
        <cloud-file-list v-bind:files="files"></cloud-file-list>
    </div>
</div>

<script type="text/x-template" id="active-file">
    <div>
        <p>name: {{file.name}}</p>
        <p>name: {{file.description}}</p>
    </div>
</script>

<script type="text/x-template" id="cloud-file-list">
    <div>
        <button v-on:click="order_by_name">Sort by name</button>
        <button v-on:click="order_by_name_rev">Sort by name D</button>
        <button v-on:click="order_by_id">Sort by id</button>
        
        <div v-for="file in files">
            <cloud-file 
            :key="file.id" 
            v-bind:file="file"
            ></cloud-file>
        </div>
    </div>
</script>


<script type="text/x-template" id="cloud-file">
    <div>
    <div class="row c-file">
        <div class="col">
            {{file.name}}
        </div>
        <div class="col">
                {{file.description}}
            </div>
        <div class="col">
                {{file.date_modified}}
        </div>
        <div class="col">
            <button v-on:click="send_file_to_vr" class="btn btn-outline-primary">Send to VR</button>
            <button v-on:click="toggle_details_tabs" class="btn btn-light">Details</button>
        </div>
    </div>
            <component
            v-bind:is="current_tab"

            v-bind:file_name="file.name"
            v-bind:file_description="file.description"

            v-bind:sharable_link="file.sharable_link"
            
            v-on:change-tab="on_change_tab"
            v-on:save-edit="on_save_edit"
            v-on:delete-file="on_delete_file"
            v-on:share="on_share"
          ></component>
</div>

</script>

<script type="text/x-template" id="cloud-file-details">
    <div class="row">
        <p>details</p>
        <button v-on:click="$emit('change-tab','cloud-file-share')" class="btn btn-primary">Share</button>
        <button v-on:click="$emit('change-tab','cloud-file-edit')" class="btn btn-light">Edit</button>
        <button v-on:click="$emit('change-tab','cloud-file-delete')" class="btn btn-light">Delete</button>
        <button v-on:click="$emit('change-tab','')" class="btn btn-light">Close Details</button>
    </div>
</script>

<script type="text/x-template" id="cloud-file-edit">
    <div class="row">
          <p>edit</p>
          <input v-model="new_name" placeholder="Edit name...">
          <input v-model="new_description" placeholder="Edit dicription...">
          <button v-on:click="$emit('save-edit',{name:new_name,description:new_description})" class="btn btn-primary">Save</button>
          <button v-on:click="$emit('change-tab','cloud-file-details')" class="btn btn-light">Cancel</button>
    </div>
</script>

<script type="text/x-template" id="cloud-file-delete">
    <div class="row">
           <p>delete</p>
           <button v-on:click="$emit('delete-file')" class="btn btn-danger">Delete</button>
           <button v-on:click="$emit('change-tab','cloud-file-details')" class="btn btn-light">Cancel</button>
    </div>
</script>

<script type="text/x-template" id="cloud-file-share">
    <div class="row">
           <p>share</p>
           <p>{{sharable_link}}</p>
           <button v-on:click="$emit('share')" class="btn btn-primary">Copy link to clipboard</button>
           <button v-on:click="$emit('change-tab','cloud-file-details')" class="btn btn-light">Close</button>
    </div>
</script>





{% endraw %}
{% endblock main_content %}

{% block js_imports %}
<script src="js/libraries/vue.js"></script>
<script src="js/cloudApp.js"></script>
{% endblock js_imports %}