{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
<li class="nav-item">
    <a class="nav-link" href="docs-getting-started.html">Documentation</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="faqs.html">FAQs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="tutorials.html">Tutorials</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="blog.html">Blog</a>
</li>
{% endblock nav_menu_items %}

{% block main_content %}
{% raw %}
<div class="container">
    <h1>VR Sketch Cloud</h1>
    <div id="cloud-app">
        <p>Your files</p>
        <cloud-file-list v-bind:files="files"></cloud-file-list>
    </div>
</div>

<script type="text/x-template" id="cloud-file-list">
    <div>
        <button v-on:click="order_by_name">Sort by name</button>
        <button v-on:click="order_by_name_rev">Sort by name D</button>
        <button v-on:click="order_by_id">Sort by id</button>
        <div v-for="file in files">
            <cloud-file :key="file.id" v-bind:file="file" :is_current_file="false"></cloud-file>
        </div>
    </div>
</script>

<script type="text/x-template" id="cloud-file">
    <div class="row c-file">
        <div class="col-1">
            {{file.id}}
        </div>
        <div class="col">
            {{file.name}}
        </div>
        <div class="col-1">
            <input v-model="file.name" placeholder="edit name">
        </div>
    </div>
</script>

{% endraw %}
{% endblock main_content %}

{% block js_imports %}
<script src="js/libraries/vue.js"></script>
<script src="js/cloudApp.js"></script>
{% endblock js_imports %}