{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
{% include 'partials/nav-menu-learn.html' %}
{% endblock nav_menu_items %}

{% block main_content %}
<div class="container">
    <h1>Frequently asked questions</h1>
    <div id="faqs">
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-1" role="button" aria-expanded="false" aria-controls="question-1">
                What is VR Sketch?
            </a>
            <div class="collapse" id="question-1">
                <div class="card card-body">
                    <p>VR Sketch is an extension/plugin for
                        <a href="https://www.sketchup.com/" target="_blank">SketchUp</a> that lets you use SketchUp while inside virtual reality (VR).</p>
                    <p>With any SketchUp file open you just click "Send to VR" and you can start walking around your file.</p>
                    <p>It's not just for viewing your files, you can draw and edit while in VR. All the major SketchUp tools
                        are available in VR, so you can push/pull, move, draw, copy, scale and much more.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-2" role="button" aria-expanded="false" aria-controls="question-2">
                What do I need to run VR Sketch?
            </a>
            <div class="collapse" id="question-2">
                <div class="card card-body">
                    <ul>
                        <li>SketchUp 2017, 2018 or 2019</li>
                        <li>Our VR Sketch extension.
                            <a href="https://extensions.sketchup.com/en/content/lightscape-vr-designer" target="_blank">Download here</a> and
                            <a href="docs-getting-started.html" target="_blank">more instructions here</a>
                        </li>
                        <li>A VR headsets. We support both the HTC Vive and Oculus Rift Touch.</li>
                        <li>A VR suitable computer and graphics cards. For recommended system requirements see
                            <a href="https://www.vive.com/eu/support/vive/category_howto/system-requirements.html" target="_blank">HTC Vive</a> and
                            <a href="https://support.oculus.com/1773584749575567/" target="_blank">Oculus Rift</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-3" role="button" aria-expanded="false" aria-controls="question-3">
                Which VR headsets are supported?
            </a>
            <div class="collapse" id="question-3">
                <div class="card card-body">
                    <p>We support both the HTC Vive and Oculus Rift Touch. Windows mixed reality headsets seem to work as well
                        but are not officially supported yet.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-4" role="button" aria-expanded="false" aria-controls="question-4">
                How do I get VR Sketch?
            </a>
            <div class="collapse" id="question-4">
                <div class="card card-body">
                    <p>There are two ways to get VR Sketch.</p>
                    <ul>
                        <li>Download the extension from
                            <a href="https://extensions.sketchup.com/en/content/lightscape-vr-designer" target="_blank">here</a> and install it.</li>
                        <li>Open SketchUp and use the Extension Manager to add VR Sketch</li>
                    </ul>
                    <p>For more detailed instruction visit the documentation
                        <a href="docs-getting-started.html" target="_blank">here.</a>
                    </p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-5" role="button" aria-expanded="false" aria-controls="question-5">
                Can I work with large files?
            </a>
            <div class="collapse" id="question-5">
                <div class="card card-body">
                    <p>Yes. We have spend lots of development time optimising VR Sketch to work with files of all sizes. If
                        your files are super large your hardware (normally your GPU) may struggle. We have also found that
                        keeping your geometry inside groups and components helps speed things up.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-6" role="button" aria-expanded="false" aria-controls="question-6">
                Can two people work at the same time?
            </a>
            <div class="collapse" id="question-6">
                <div class="card card-body">
                    <p>Yes. One person can be inside VR while the other is at the computer. Both people will be able to see
                        each others actions is real time.</p>
                    <p>VR Sketch also supports multiple people in VR working on the same file using our
                        <a href="docs-collaboration.html" target="_blank">Room Sharing.</a> feature. If you have two or more VR headsets setup and connected to the internet
                        then they can all join the same shared SketchUp file and work together.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-7" role="button" aria-expanded="false" aria-controls="question-7">
                Does VR Sketch work with SketchUp 2017?
            </a>
            <div class="collapse" id="question-7">
                <div class="card card-body">
                    <p>Yes, VR Sketch works with both SketchUp 2017 and SketchUp 2018.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-8" role="button" aria-expanded="false" aria-controls="question-8">
                Is working in VR better than working on a screen?
            </a>
            <div class="collapse" id="question-8">
                <div class="card card-body">
                    <p>They have different advantages and disadvantages. VR Sketch is designed so that you can very easily swap
                        between VR and the screen to take advantage of both tool sets.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-9" role="button" aria-expanded="false" aria-controls="question-9">
                How do I import my SketchUp into VR?
            </a>
            <div class="collapse" id="question-9">
                <div class="card card-body">
                    <p>You don't need to. Just click "Send to VR" and put your headset on. You don't need to export your work
                        either.
                    </p>
                    <p>VR Sketch has a real-time link with your SketchUp file, this means that any changes you make in VR are
                        instantly updated in SketchUp and any changes you make in SketchUp are instantly seen in VR.</p>
                    <p>To save your work, just click save as you normally do in SketchUp.</p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}
