{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
<li class="nav-item">
    <a class="nav-link" href="#">Colours</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Buttons</a>
</li>
{% endblock nav_menu_items %}

{% block main_content %}
<div class="container">
    <h1>Style guide</h1>

    <h2>Colours</h2>
    <div class="row">

        <div class="col-md-2">
            <p>Primary</p>
        </div>
        <div class="col-md">

            <ul class="list-unstyled list-inline">
                <l1 class="list-inline-item p-3 m-0 border rounded bg-primary">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-secondary">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-success">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-danger">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-warning">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-info">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-dark">#16111c</l1>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Neutral</p>
        </div>
        <div class="col-md">

            <ul class="list-unstyled list-inline">
                <l1 class="list-inline-item p-3 m-0 border rounded bg-primary">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-secondary">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-success">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-danger">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-warning">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-info">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-dark">#16111c</l1>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Accent</p>
        </div>
        <div class="col-md">

            <ul class="list-unstyled list-inline">
                <l1 class="list-inline-item p-3 m-0 border rounded bg-primary">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-secondary">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-success">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-danger">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-warning">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-info">#16111c</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-dark">#16111c</l1>
            </ul>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}