{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
<li class="nav-item">
    <a class="nav-link" href="#">Colours</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Buttons</a>
</li>
{% endblock nav_menu_items %}

{% block main_content %}
<div class="container">
    <h1>Style guide</h1>

    <h2>Colours</h2>
    <div class="row">
        <div class="col-md-2">
            <p>Logo</p>
        </div>
        <div class="col-md">
            <ul class="list-unstyled list-inline">
                <l1 class="list-inline-item p-3 m-0 border rounded bg-logo-light">logo-green-light<br>#9ae15f</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-logo-dark">logo-green-dark<br>#5aa679</l1>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Theme colours</p>
        </div>
        <div class="col-md">
            <ul class="list-unstyled list-inline">
                <l1 class="list-inline-item p-3 m-0 border rounded bg-primary">primary<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-secondary">secondary<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-white">white<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-light">light<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-dark">dark<br>#xxxxx</l1>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Utility</p>
        </div>
        <div class="col-md">

            <ul class="list-unstyled list-inline">
                <l1 class="list-inline-item p-3 m-0 border rounded bg-success">success<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-danger">danger<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-warning">warning<br>#xxxxx</l1>
                <l1 class="list-inline-item p-3 m-0 border rounded bg-info">info<br>#xxxxx</l1>
            </ul>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}