{#

Template inputs
1. title

Template blocks
1. custom_style_imports
2. nav_menu_items
4. js_imports
4. main_content

#}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Content description -->
    <title>{{title}}</title>
    <meta name="description" content="Virtual Reality drawing tools for architects and designers. A SketchUp extension allowing anyone to use SketchUp from inside virtual reality">
    <meta name="keywords" content="vr sketch, vr, virtual reality, draw, edit, draft, sketch, sketchup, architect, architecture, vive, oculus rift, design">
    <meta name="author" content="VR Sketch">

    <!-- Template imports -->
    <link rel="shortcut icon" href="img/logos/favicon.ico" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom imports -->
    {% block custom_style_imports %}{% endblock custom_style_imports %}
</head>

<body>
    <header>
        <div class="fixed-top bg-white">
            <nav class="container">
                <div class="navbar navbar-expand-md navbar-light px-0">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/logos/vr-sketch-logo.svg" height="28" alt="VR Sketch logo">
                    </a>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="navbar-nav ml-auto">
                            {% block nav_menu_items %}{% endblock nav_menu_items %}
                        </ul>
                        <span class="dropdown">
                            <button class="btn btn-outline-primary" id="login-button">Log in
                            </button>
                            <ul id="login-dropdown" class="dropdown-menu">
                                <li><a href="#" onclick="showLicenseModal()">User details</a></li>
                                <li><a href="#" onclick="vueAppApi.logout()">Log out</a></li>
                            </ul>
                        </span>
                        
                    </div>

                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </header>

    <main role="main">
        {% block main_content %}{% endblock main_content %}
    </main>

    {% include 'partials/footer.html' %}

    <!-- JS imports -->
    <noscript>Your browser either does not support JavaScript or it not active. Please activate JavaScript.</noscript>
    {#
    <!-- Bootstrap imports. Order matters: 1. jQuery 2. Popper.js 3. Bootstrap JS -->
    #}
    <script src="js/libraries/jquery-3.1.1.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/libraries/popper.min.js"></script>
    <script src="js/libraries/moment.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="js/libraries/autobahn.min.js"></script>
    <script src="https://browser.sentry-cdn.com/4.1.1/bundle.min.js"></script>
    {% block js_imports %}{% endblock js_imports %}
</body>

</html>
