{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
{% include 'partials/nav-menu-learn.html' %}
{% endblock nav_menu_items %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <ul>
                <li> <a href="documents.html">Getting started</a> </li>
                <li> <a href="#">Drawing in VR</a> </li>
                <li><a href="#">Collaboration</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Licence</a></li>
                <li><a href="#">Billing</a></li>
                <li><a href="#">Bugs and errors</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="col-md">
            {% block documentation_content %}
            {% endblock documentation_content %}
        </div>
    </div>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}