{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
<li class="nav-item">
    <a class="nav-link" href="faqs.html">FAQs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="index.html">Home</a>
</li>
{% endblock nav_menu_items %}

{% block main_content %}
<div class="container pb-5">
    <img class="img-fluid shadow mb-5" src="img/about/the-team-1140x760.jpg" alt="The VR-Sketch team">
    <div class="row">
        <div class="col">
            <h4>Armin Rigo</h4>
            <p>Developer</p>
        </div>
        <div class="col">
            <h4>Maciej Fijałkowski</h4>
            <p>Developer</p>
        </div>
        <div class="col">
            <h4>Duncan Fraser</h4>
            <p>Architect</p>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}