{% extends "layouts/layout-blog.html" %}

{% block blog_content %}
<article>
    <header>
        <h1 class="post-title" id="georges-interview">Interview with Georges Kachaamy from American University of Dubai</h1>
        <p class="text-muted">Published on: 13 July 2021 by Caitlin Leigh</p>
    </header>
    <section>
    <p class="question">Director of the Centre for Research, Innovation and Design at the American University in Dubai
        Professor of Architecture and <b>certified VR Sketch trainer</b>
    </p>

    <p class="answer">At the exciting forefront of <b>digital innovation in education</b> are people like<a href="https://www.georgeskachaamy.com/">Dr. Georges Kachaamy</a>.
    <p>
    He is a professor of architecture and the director of the <a href="https://www.aud.edu/centers-at-aud/crid/">Centre for Research, Innovation and Design</a> (CRID) at the American University in Dubai (AUD) where he has adapted their learning spaces to <a href="https://www.youtube.com/watch?v=sB8ZL3LaD0A"><b>incorporate Virtual Reality</b></a>.
    </p>
    <p>
    He understood the need for this even BEFORE the global pandemic accelerated the adoption of cutting-edge technology in most industries. A pretty smart move, if you ask us.
    </p>
    <p>
    The CRID’s search, in 2019, for the <b>latest and most effective VR design tool</b> led them to <a href="https://vrsketch.eu/"><b>VR Sketch</b></a>.
    </p>
    <p>
    <i>“As a result, we find that VR Sketch is user friendly, versatile, and above all <b>the best program to date</b> that is focused merely on the creation of architectural spaces inside VR.”</i></p>

    
    https://www.youtube.com/watch?v=XsAq8GUCYjI

Georges has since been using VR Sketch as both **an architect and an educator**.
&nbsp;

#### ARCHITECT

Georges discovered the **powerful benefits of designing in VR** through his own architectural work and research.

His research, [Gravity Defiant Architecture](https://www.georgeskachaamy.com/architect) (aka Airborne Architecture), is a series of **free floating built environments that use natural resources** (such as light, wind, water, flora and fauna) to help people unwind.

IMAGE: airbourne architecture

They are **places of well-being** that provide humans the opportunity to disconnect from the intensity of a city and reconnect with nature - a beautiful AND necessary experience in these stressful times.

IMAGE: gravity defiant architecture

Georges wrote his doctorate dissertation in Tokyo, Japan; the mega city that inspired him to create these environments. He then moved to Dubai in 2008 and developed his work into a series of physical prototypes named [**Rising Oases**](https://edition.cnn.com/style/article/levitating-architecture-dubai/index.html).

_“It was challenging for me to be able to design previously using only 2D sketches and the computer screen digitally because both initiate from a 2D viewpoint rather than direct 3D space. As a support, I had to generate physical prototypes, so I get the opportunity to see my designs stable in the air and through that assess it from all 6 sides.”_

IMAGE: George Kachaamy

But scaled models can only show you what it looks like - not what it feels like. If you’re working on a conceptual project, like Airbourne Architecture, this can typically be a barrier of communication between creatives and their clients or stakeholders.

Moving into the world of VR, however, **completely solves this problem** for Georges.

VR is an **incredibly dynamic tool for sharing and collaborating** on projects. Georges has found this super useful when working with others AND when inviting stakeholders to view, assess and even co-design on projects.

_“What makes VR Sketch special is its capacity to create architectural spaces and be able to fluctuate from an objective perspective to a subjective one. And collaborative editing allows other users to do the same, share, and edit live the design at hand.”_

VR Sketch allows Georges to create and design from both exocentric and egocentric viewpoints and he can share ALL these perspectives with his audience - **a truly revolutionary ability that is not possible without VR**.

His [Airborne: The Waterfall Prototype](https://www.georgeskachaamy.com/the-waterfall-prototype) was **designed and exhibited entirely in VR** which means you can actually experience the life-sized structure. It is [currently exhibited](https://www.youtube.com/watch?v=eUUiwZrmep8) at the Palazzo Mora of the European Cultural Center in the context of the Venice Biennale of Architecture 2021.

https://www.youtube.com/watch?v=0aeA7IidlI0

&nbsp;

#### EDUCATOR

The ability to create, edit and discuss designs in space and in real time is like **‘a dream come true for designers’**, says Georges. He believes that once someone has tried creating inside VR they will never want to go back to using a 2D screen.

Because of his invaluable experiences with VR and VR Sketch, Georges has developed a full semester course at AUD titled [**DDFT 473 – “Virtual Environments”**](https://www.aud.edu/all-news/aud-students-receive-certificate-of-completion-for-ddft-473/).

_“This advanced course introduces students to the principles of Virtual Reality modelling methods where students acquire active learning techniques that allow them to 3D design while they are inside Virtual Reality.”_

https://www.youtube.com/watch?v=veV5HgU5FmE

As an extension of [Sketch Up](https://www.sketchup.com/), Georges finds VR Sketch **powerful, easy-to-use software that’s incredibly versatile**. It’s specifically **architectural orientation** makes it unique and therefore an essential part of the course.

_“VR Sketch is a powerful tool that has multiple applications and is able to influence the method of design providing it the **experiential aspect that was not possible before**.”_

The recent graduates from this course were **impressed by the capabilities of VR Sketch** and had some excellent feedback.


>**Nouriah AlKhulaifi (Senior Interior Design Student)**
_"I appreciate this amazing software that you designed, the software made the design process fun and easy, and it opened up the creativity in my mind. The program interface is easy to understand, it designed (sic) in a way that users can discover the tools and understand what the functions of them is (sic). Lastly Thank You for this amazing unforgettable software, **it is the future of design**, for me I would continue working on this software and I will use it in my professional life later on.“_

>**[Dheyaa Dheyaa](https://www.instagram.com/p/CQgN_mkJ7Cy/) (Senior Architecture Student)**
_"VR sketch is currently the only architectural VR app that enables you to design while in VR. That won’t last for long, so constant work and improvements are needed to stay on top. The interface is super friendly and intuitive while still providing a high level of accuracy. **The ability to use two controllers at the same time** rewired something in my brain and I found out that going back to “one handed” operation in a screen, mouse and keyboard is slower. The ability to zoom into very minuscule levels then very gigantic ones was impressive. Thank you for a beautiful and very powerful software that I only want to see it get better.”_
 
VIDEO: V3- Fractus_Dheyaa
 
**DDFT 473 – “Virtual Environments”** is being offered again this Fall and all the classes are already full. A clear sign that VR is the future - and that the future is now!

CRID has also become an [**Authorised VR Sketch Training Centre**](https://www.aud.edu/all-news/crid-is-officially-the-first-and-only-authorized-vr-sketch-training-center/) for alumni and industry professionals outside of the university.

_“ ...  where VR Sketch is at the moment is quite commendable and one can only comprehend its power by actually using it.”_

**Who will benefit** from such training?

_“... anyone who is interested in learning how to design using the virtual void as their canvas rather than the traditional 2D representation of the design.”_
&nbsp;

#### INTO THE FUTURE

The CRID is now fully equipped with VR technology and, through several new courses and programs, is looking forward to supporting more **research related to VR**.

Georges is working towards physically building his Gravity Defying Architecture and VR Sketch is going to be an invaluable part of this journey. Not only as a **design tool**, but also as a **way to communicate** his work with engineers, other designers and potential investors.

And finally, we are looking forward to Georges’ exhibition this November where he will be showcasing the power of VR design and how he uses VR Sketch as part of his creative process.

_“Extended Realities, in general, are part of a paradigm shift that will transform the behavior, process, and method of delivery of design in both education and the industry.”_

    </section>
</article>
{% endblock blog_content %}