{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block nav_menu_items %}
{% include 'partials/nav-menu-learn.html' %}
{% endblock nav_menu_items %}

{% block main_content %}
<div class="container">
    <h1>Frequently asked questions</h1>
    <div id="faqs">
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-1" role="button" aria-expanded="false" aria-controls="question-1">
                What is VR Sketch?
            </a>
            <div class="collapse" id="question-1">
                <div class="card card-body">
                    <p>VR Sketch is an extension/plugin for
                        <a href="https://www.sketchup.com/" target="_blank">SketchUp</a> that lets you use SketchUp while inside virtual reality (VR).</p>
                    <p>With any SketchUp file open you just click "Send to VR" and you can start walking around your file.</p>
                    <p>It's not just for viewing your files, you can draw and edit while in VR. All the major SketchUp tools
                        are available in VR, so you can push/pull, move, draw, copy, scale and much more.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-2" role="button" aria-expanded="false" aria-controls="question-2">
                What do I need to run VR Sketch (and which VR headset)?
            </a>
            <div class="collapse" id="question-2">
                <div class="card card-body">
                    <ul>
                        <li>SketchUp 2017 or more recent. (See also "Does VR Sketch work on Mac?" below)</li>
                        <li>Our VR Sketch extension.
                            <a href="downloads.html" target="_blank">Download here</a> and
                            <a href="docs-getting-started.html" target="_blank">more instructions here</a>
                        </li>
                        <li>A VR headset. We support <a href="docs-getting-started.html" target="_blank">many common headsets.</a></li>
                        <li>Unless you are using a Meta Quest or Pico Neo 3, you need a VR-suited computer and graphics cards. For recommended system requirements see
                            <a href="https://www.vive.com/eu/support/vive/category_howto/system-requirements.html" target="_blank">HTC Vive</a> and
                            <a href="https://support.oculus.com/1773584749575567/" target="_blank">Oculus Rift</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-4" role="button" aria-expanded="false" aria-controls="question-4">
                How do I get VR Sketch?
            </a>
            <div class="collapse" id="question-4">
                <div class="card card-body">
                    <p>There are two ways to get VR Sketch.</p>
                    <ul>
                        <li>Download the extension from
                            <a href="https://extensions.sketchup.com/en/content/lightscape-vr-designer" target="_blank">here</a> and install it.</li>
                        <li>Open SketchUp and use the Extension Manager to add VR Sketch</li>
                    </ul>
                    <p>For more detailed instruction visit the documentation
                        <a href="docs-getting-started.html" target="_blank">here.</a>
                    </p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-5" role="button" aria-expanded="false" aria-controls="question-5">
                Can I work with large files?
            </a>
            <div class="collapse" id="question-5">
                <div class="card card-body">
                    <p>Yes. We have spend lots of development time optimising VR Sketch to work with files of all sizes. If
                        your files are super large your hardware (normally your GPU) may struggle. We have also found that
                        keeping your geometry inside groups and components helps speed things up.</p>
                    <p>Note that Meta Quest's GPU is much less powerful than a PC's.  For the Quest, the answer to the question above is No: it will struggle to render models that are a lot larger than the medium-sized demo model "Cliff House".</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-6" role="button" aria-expanded="false" aria-controls="question-6">
                Can two people work at the same time?
            </a>
            <div class="collapse" id="question-6">
                <div class="card card-body">
                    <p>Yes. VR Sketch supports two modes:</p>
                    <ol>
<li>Directly from the machine running SketchUp, where the person in VR
can view and edit the model currently opened in SketchUp.  Any changes
done in VR are immediately reflected on the SketchUp model, and any
changes done on the screen in SketchUp are immediately reflected in
VR.  This allows direct collaboration between two persons,
one in VR and one on the screen.</li>
<li>If you <a href="docs-collaboration.html" target="_blank">upload a model</a> to the cloud, then any number of VR
installations can view it and make simple annotations without using
SketchUp any more (but the model cannot be edited).  These VRs can be
far away from each other.  If several people view the same model at
the same time, then they see each other's avatars in VR, and can talk
to each other via voice-over-IP.</li>
                    </ol>
<p>The trial license of VR Sketch is for trying out the direct mode.  Uploading
a model to the cloud requires storage space on our servers and is thus limited
to non-trial licenses.  On the other hand, if you only want to use VR Sketch to
view cloud models, you can do so with no license at all---you are always
allowed to view models uploaded by someone else (including the demo models we
provide), as long as you know their URL.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-7" role="button" aria-expanded="false" aria-controls="question-7">
                Does VR Sketch work with SketchUp 2017?
            </a>
            <div class="collapse" id="question-7">
                <div class="card card-body">
                    <p>Yes, on Windows, VR Sketch works with SketchUp 2017 Make and Pro, or any more recent version of SketchUp Pro.  SketchUp 2017 Make is free, but Trimble seems to no longer distribute it.  You can find a copy of <a href="https://vrsketch.eu/download/sketchupmake-2017-2-2555-90782-en-x64.exe">SketchUp 2017 Make for Windows</a> on our own website.</p>
                    <p>On Mac, editing models doesn't completely work before SketchUp 2020.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-8" role="button" aria-expanded="false" aria-controls="question-8">
                Is working in VR better than working on a screen?
            </a>
            <div class="collapse" id="question-8">
                <div class="card card-body">
                    <p>They have different advantages and disadvantages. VR Sketch is designed so that you can very easily swap
                        between VR and the screen to take advantage of both tool sets.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-9" role="button" aria-expanded="false" aria-controls="question-9">
                How do I import my SketchUp into VR?
            </a>
            <div class="collapse" id="question-9">
                <div class="card card-body">
                    <p>You don't need to. Just click "Send to VR" and put your headset on. You don't need to export your work
                        either.
                    </p>
                    <p>VR Sketch has a real-time link with your SketchUp file, this means that any changes you make in VR are
                        instantly updated in SketchUp and any changes you make in SketchUp are instantly seen in VR.</p>
                    <p>To save your work, just click save as you normally do in SketchUp.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-10" role="button" aria-expanded="false" aria-controls="question-10">
                Does VR Sketch work on Meta Quest?
            </a>
            <div class="collapse" id="question-10">
                <div class="card card-body">
                    <p>Yes.  You can <a href="docs-getting-started-quest.html" target="_blank">use Meta Quest</a> either to view cloud models previously uploaded, or directly with a PC or Mac as if it were tethered (but without needing a cable).</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-11" role="button" aria-expanded="false" aria-controls="question-11">
                Does VR Sketch work on Mac?
            </a>
            <div class="collapse" id="question-11">
                <div class="card card-body">
                    <p>Yes, since <a href="https://forum.vrsketch.eu/t/vr-sketch-11-0/175">VR Sketch version 11.</a></p>
                    <p>Mac requires Meta Quest or Pico Neo 3 for now, because we cannot directly connect any of the common tethered VR headsets to Macs. It is also recommended to have SketchUp 2020 or more recent for editing in VR with a Mac.</p>
                </div>
            </div>
        </section>
        <section class="pb-3">
            <a class="btn btn-light btn-block text-left" data-toggle="collapse" href="#question-12" role="button" aria-expanded="false" aria-controls="question-12">
                Why is there a warning about 'continuous movements'?
            </a>
            <div class="collapse" id="question-12">
                <div class="card card-body">
                    <p>The #1 rule for VR comfort is: the VR view should not be subject to any acceleration. This is not an absolute rule, but it is what causes motion sickness in some people. This is because the headset cannot physically give your body the impression that you are accelerating---it can only fool the eyes. This can result in sickness, similar to being a passenger in a car on a mountain road. Some persons are more prone to it than others; it can take anywhere between a few seconds and half an hour to make the user sick, if at all.</p>
                    <p>We feel it would be quite unprofessional to submit the majority of users to a feature that appears fine at first, but renders them sick after a while. This is why we give the warning.</p>
                    <p>There are four ways to move around in VR Sketch:
                    <ol><li>Teleporting. This looks unnatural at first, but is actually often the easiest and most comfortable option.</li>
                    <li>You can "grab" the world containing the model, and move it. If you grab with both hands, you can scale the model, too. This is the fastest way to go at a very different location or to get a larger-scale overview. To get back at 1-for-1 scale, use the teleporter again.</li>
                    <li>You can use the joystick (if you have the teleport tool selected): move it up or down to walk. Be careful about motion sickness. You can disable this completely in the context menu (press the "B" or "Menu" button).</li>
                    <li>Experimental: in the same context menu, you can choose the walk/jog/run options. It makes teleporting not instantaneous; instead, it is done in a series of steps. It gives a feeling similar to real-life steps.</li>
                    </ol></p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}
