{% extends "layouts/layout-base.html" %}

{% block custom_style_imports %}
{% endblock custom_style_imports %}

{% block main_content %}
<div class="container pb-5">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>This URL must be pasted inside SketchUp.  In the <a href="/">VR Sketch</a> extension menu, pick "View cloud model".</p>
    <p>You cannot use this URL directly in the browser for now.</p>
</div>
{% endblock main_content %}

{% block js_imports %}
{% endblock js_imports %}
