<html>
  <head>
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="css/old/stats.css">
    <link rel="stylesheet" type="text/css" href="css/old/metricsgraphics.css">
  </head>
    <div class="main">
        <div class="container">
            <div class="row">
                <h3>Statistics</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="trial-stats">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="use-stats">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="use-unique">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="use-unique-monthly">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form>
                        Customer_id: <input id="customer_id" type="text" length="50">
                        <button onclick="get_stats_by_user_id()" type="button" class="btn btn-primary">Check</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="results" class="container">
                    </div>
                </div>
            </div>

        </div>
    </div>
  <body>
    <script src="js/libraries/jquery-3.1.1.min.js"></script>
    <script src="js/libraries/d3.min.js"></script>
    <script src="js/libraries/autobahn.min.js"></script>
    <script src="js/libraries/popper.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/libraries/metricsgraphics.min.js"></script>
    <script src="https://browser.sentry-cdn.com/4.1.1/bundle.min.js"></script>
    <script src="js/libraries/moment.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/stats.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
  </body>
</html>