section{
    padding-top: 6em;
    padding-bottom: 6em;
}

h2{
    padding-bottom: 2em;
    font-size: 3rem;
}

footer{
    padding-top: 2em;
    padding-bottom: 2em;
}

#landing{
    padding-bottom: 0;
}

#testimonials-carousel{
    min-height: 15em;
}


/* -------------------- Subscribe -------------------- */

#mc_embed_signup {
    display: flex;
    justify-content: center;
}
#mc_embed_signup form {
    width: 100%;
    max-width: 500px;
}
#mc_embed_signup h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
#mc_embed_signup .subscribe {
    display: flex;
    border-color: rgb(94, 184, 94);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    overflow: hidden;
}
#mce-responses {
    display: flex;
    justify-content: center;
}
#mce-success-response {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(94, 184, 94);
    font-weight: 500;
}
#mce-error-response {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(239, 91, 91);
    font-weight: 500;
}
#mc_embed_signup .subscribe input {
    height: 40px;
    border: none;
    outline: none;
}
#mc_embed_signup .subscribe input[type=submit] {
    color: rgb(94, 184, 94);
    font-weight: 500;
    border-color: white;
    color: white;
    background-color: rgb(94, 184, 94);
    flex: 1;
}
#mc_embed_signup .subscribe input[type=submit]:hover {
    font-weight: 900;
}
#mc_embed_signup .subscribe input[type=email] {
    flex: 2;
    padding: 0 15px;
}
#mc_link:hover{color: rgb(94, 184, 94);}