
<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Content description -->
    <title>Cloud | VR Sketch</title>
    <meta name="description" content="Virtual Reality drawing tools for architects and designers. A SketchUp extension allowing anyone to use SketchUp from inside virtual reality">
    <meta name="keywords" content="vr sketch, vr, virtual reality, draw, edit, draft, sketch, sketchup, architect, architecture, vive, oculus rift, design">
    <meta name="author" content="VR Sketch">

    <!-- Template imports -->
    <link rel="shortcut icon" href="img/logos/favicon.ico" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom imports -->
    


</head>

<body>
    <div id="loading-indicator" style="display:none;position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:9999;justify-content:center;align-items:center;background-color:#ffffff;">
        <p style="color:#343a40;font-size:1.2em;">Loading...</p>
    </div>
    <script type="text/javascript">
        (function () {
            document.getElementById('loading-indicator').style.display = 'flex';
        })();
    </script>
    <header>
        <div class="fixed-top bg-white">
            <nav class="container">
                <div class="navbar navbar-expand-md navbar-light px-0">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/logos/vr-sketch-logo.svg" height="28" alt="VR Sketch logo">
                    </a>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="navbar-nav ml-auto">
                            
<li class="nav-item">
    <a class="nav-link" href="index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="docs-getting-started.html">Documentation</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="faqs.html">FAQs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="tutorials.html">Tutorials</a>
</li>

                        </ul>
                        <span class="dropdown">
                            <button class="btn btn-outline-primary" id="login-button">Log in
                            </button>
                            <ul id="login-dropdown" class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item" onclick="showLicenseModal()">User details</a></li>
                                <li><a href="#" class="dropdown-item" onclick="vueAppApi.logout()">Log out</a></li>
                            </ul>
                        </span>

                    </div>

                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </header>

    <main role="main">
        



<!--  Cloud App  -->
<div class="container">
    <div id="cloud-app" class="mt-5">
        <div v-if="logged_in">
            <div class="row mt-5">
                <div class="col-7">
                    <h3 class="text-muted">Your files</h3>
                </div>
                <div class="col-5">
                <!--    <upload-file></upload-file><-->
                </div>
            </div>
            <!-- <span class="text-muted">Connection status: {{connection_status}}</span> -->

            <cloud-file-list v-bind:files="files"></cloud-file-list>
            <notification-bar v-bind:notification="notification" v-bind:close="hide_notification">
        </div>
        <div v-else>
            Please log in to see your files.
        </div>
    </div>
</div>

<!--  Upload  -->
<script type="text/x-template" id="upload-file">
    <div class="align-bottom" style="display: none">
        <div class="custom-file">
            <form enctype="multipart/form-data">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required  accept=".skp" v-on:change="upload_files_on_change">
                <label class="custom-file-label" for="validatedCustomFile">Choose a SketchUp file to upload...</label>
            </form>
        </div>
    </div>
</script>

<!--  File list  -->
<script type="text/x-template" id="cloud-file-list">
    <div class="pb-5">
        <div class="row">
           <div class="col-4">
                <button v-on:click="order_by_name" class="btn btn-link text-muted">Name</button>                   
           </div>
           <div class="col">
                <button v-on:click="order_by_size" class="btn btn-link text-muted pl-0">Size</button>
            </div>
            <div class="col">
                <button v-on:click="order_by_date" class="btn btn-link text-muted pl-0">Date Modified</button>
            </div>
            <div class="col-3">
            </div>
        </div>

        <cloud-file v-for="file in files"
            :key="file.id" 
            v-bind:file="file"
             class="test"
        ></cloud-file>
    </div>
</script>


<!--  File  -->
<script type="text/x-template" id="cloud-file">
    <div class="c-file">
        <div class="row h100">
            <div class="col-4">
                <strong>{{file.name}}</strong>
                <p>{{file.description}}</P>
            </div>
            <div class="col my-auto text-muted">
                    {{file.size}}
            </div>
            <div class="col my-auto text-muted">
                    {{file.date_modified}}
            </div>
            <div class="col-3 my-auto">
                <div class="float-right">
                    <button v-on:click="toggle_sharing_tab" class="btn btn-outline-primary ml-auto">Share</button>
                    <button v-if="!is_selected" v-on:click="toggle_details_tabs" class="btn btn-outline-secondary">Options</button>
                    <button v-else v-on:click="toggle_details_tabs" class="btn btn-outline-secondary">Hide</button>
                </div>
            </div>
        </div>
        <div v-if="is_selected">
           <component
               v-bind:is="current_tab"
               v-bind:file_name="file.name"
               v-bind:file_description="file.description"
               v-bind:sharable_link="file.sharable_link"
               v-bind:id="file.id"
               v-on:change-tab="on_change_tab"
               v-on:save-edit="on_save_edit"
               v-on:download-file="on_download_file"
               v-on:delete-file="on_delete_file"
               v-on:share="on_share"
            ></component>
        </div>
    </div>  
</script>


<!--  File tabs  -->
<script type="text/x-template" id="cloud-file-details">
    <div class="c-info">
        <div class="row">
            <div class="float-right">
<!--            <button v-on:click="$emit('change-tab','cloud-file-edit')" class="btn btn-outline-secondary">Edit</button>
                <button v-on:click="$emit('download-file')" class="btn btn-outline-secondary">Download</button>-->
                <button v-on:click="$emit('change-tab','cloud-file-delete')" class="btn btn-outline-secondary">Delete</button>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="cloud-file-edit">
    <div class="c-info">
        <div class="row">
            <div class="input-group ml-2 mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">File name:</span>
                </div>
                <input v-model="new_name"type="text" class="form-control" placeholder="Edit name..." aria-label="Edit name..." aria-describedby="basic-addon1">
            </div>
            <div class="input-group ml-2 mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">File description:</span>
                </div>
                <input v-model="new_description"type="text" class="form-control" placeholder="Edit description..." aria-label="Edit description..." aria-describedby="basic-addon1">
            </div>
            <button v-on:click="$emit('save-edit',{name:new_name,description:new_description})" class="btn btn-primary ml-auto">Save</button>
            <button v-on:click="$emit('change-tab','cloud-file-details')" class="btn btn-outline-secondary">Cancel</button>
        </div>
    </div>
</script>

<script type="text/x-template" id="cloud-file-delete">
    <div class="c-info">
        <div class="row">
            <button v-on:click="$emit('delete-file')" class="btn btn-danger ml-auto">Permanently delete file</button>
            <button v-on:click="$emit('change-tab','cloud-file-details')" class="btn btn-outline-secondary">Cancel</button>
        </div>
    </div>
</script>

<script type="text/x-template" id="cloud-file-sharing">
    <div class="c-info">
        <div class="row">
            <input type="text" class="form-control w-50" v-bind:value="sharable_link" :id="'share-link-'+id" readonly>
           <button v-on:click="$emit('share')" class="btn btn-primary ml-auto">Copy link to clipboard</button>
        </div>
    </div>
</script>


<!--  Notification bar  -->
<script type="text/x-template" id="notification-bar">
    <div>
        <div v-show="notification.show">
            <div class="alert fixed-bottom w-50 mb-4 mx-auto" :class="notification.type" role="alert">
                {{notification.message}}
                <button v-on:click="close" class="close float-right"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>
</script>



    </main>

    <footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-4">
                <div>
                    <a href="https://vrsketch.eu/">
                        <img src="img/logos/vr-sketch-logo.svg" alt="VR Sketch" width="280px">
                    </a>
                    <br>
                    <small>VR drawing tools for architects and designers</small>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://twitter.com/VrSketch" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCQhcsQ4QqbcT1_Hk7F2hKag" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/vr_sketch/" target="_blank"><i class="fab fa-instagram"></i>&nbsp;Instagram</a>
                        </li>
                        <li>
                            <a href="blog.html"><i class="fas fa-pencil-alt"></i>&nbsp;Blog</a>
                        </li>
                        <li>
                            <a href="https://forum.vrsketch.eu">Forum</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="docs-getting-started.html">Documentation</a>
                        </li>
                        <li>
                            <a href="faqs.html">FAQ's</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="https://drive.google.com/open?id=1uDbTl4JJtLobN8Lc-bz3OibkYomQlUPX">Media pack</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <h5>Actions</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:info@baroquesoftware.com">Email us</a>
                        </li>
                        <li>
                            <a href="#subscribe">Subscribe to newsletter</a>
                        </li>
                        <li>
                            <a href="https://extensions.sketchup.com/en/content/lightscape-vr-designer">Try now</a>
                        </li>

                        <li>
                            <a href="#">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-muted mt-5">
            Made with love by the
            <a href="https://baroquesoftware.com/" target="_blank">Baroque Software</a>
            team. © 2019 VR Sketch
        </p>
    </div>
</footer>

    <!-- JS imports -->
    <noscript style="position:fixed;bottom:20px;width:100%;;padding:10px;;background-color:rgb(255, 146, 112);text-align:center;z-index:150;">Your browser either does not support JavaScript or it not active. Please activate JavaScript.</noscript>
    
    <script src="js/libraries/jquery-3.1.1.min.js"></script>
    <script src="js/libraries/popper.min.js"></script>
    <script src="js/libraries/moment.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="js/libraries/autobahn.min.js"></script>
    <script src="https://browser.sentry-cdn.com/4.1.1/bundle.min.js"></script>
    <script src="js/global.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43265909-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-43265909-2');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loading-indicator').fadeOut();
        });
    </script>
    
<script src="js/libraries/vue.js"></script>
<script src="js/libraries/v-file-upload.js"></script>
<script src="js/cloudApp.js"></script>

</body>

</html>