<html>
  <head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documentation: VR Sketch</title>
    <meta name="description" content="A tool designers to draw inside virtual reality">
    <meta name="author" content="VR Sketch">
    <meta name="keywords" content="vr, virtual reality, draw, edit, draft, sketchup, architect, architecture, vive" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="css/nav-top-bar.css?v=1.0">
    <link rel="stylesheet" href="css/documentation.css?v=1.0">

    <link rel="shortcut icon" href="img/favicon.ico" />
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-default shadow" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <button type="button" class="navbar-toggle pull-right hidden-md hidden-lg" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-header">
                        <a class="navbar-brand nav-link" href="index.html">
                            <img src="svg/vr-sketch-logo.svg" alt="VR Sketch" height="40px">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right text-left">
                            <li class="">
                                <a class="" href="index.html">Back</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <h1>This is HTML before documentation</h1>
    {{ markdown/documentation.md }}
    <h1>This is HTML after template</h1>
  </body>
</html>
